<html>
    <head>
        <title>Patrick's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Patrick's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean fdsajfdps vdfsaf dsaf d gfds afds  dsfds af ds gf dg dsa fds afd sa g dsaf dsa fds af dsa fds af dsa fds af dsa gfdsagf dsf dsa fd safd sa fd sag fd gfds agd saf dsa fd saf dsaf ds afd sg fdgf dsg fd gdsa fd saf dsa f aew  af ewa  fda fdg dsafdsaf f dsa fdsa gfdsa gewa  ewa fesafdsa ! ! !rr a fds af dsa g f da gfdsa fdsa fds af dsa.</p>
        </div>

        <div>
            <p>published 14.06.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Adsafpdsakpofdsao  fadsopf dsoa fdsf dposafd safd safdsafpods afpods fd s fods afpods afodsafds fdsafodpsa d fdos afpods fd afd sapofdsfds fdsa ofds fds fds  fds ofds ofds fdsa fdsa ofd fodsak pofdsapofes apofd s fdsa ofdsoa fdposa fpods afpods ofds pofdsopa fdspoa fpods pofdsa fpods pofdsa pofds pofdspofdpos fdpos fpods fpods fpods afpods pofd ofpdsa opfdsa pofdsa pofda </p>
        </div>
    </body>
</html>
